# Node.js dependencies
node_modules/

# Log files
*.log

# Environment files
.env

# Build directories
build/
dist/

# Dependency directories
frontend/node_modules/
backend/node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor configurations
.vscode/
.idea/

# Pre-commit hook files
.husky/

# Terraform state files
*.tfstate
*.tfstate.backup
